<!DOCTYPE html>

<html lang="zh-CN">
{% include head.html %}
<body style="font-family: 'Microsoft YaHei', 'PingFangSC-Regular', 'sans-serif';">
	{% include nav.html %}
	<div class="page-builder">
		<div class="container" style="margin-top: -40px;">
			<h3 style="color: #888; margin-bottom: 3px;">
				{% if page.category == '欢迎使用' %}
				QSphere
				{% else %}
				{{page.category}}
				{% endif %}
			</h3>
			<h1>{{page.title}}</h1>
			{{ content }}
		</div>
	</div>
	{% include footer.html %}
</body>
</html>